--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
llama-cpp-python
opencv-python
transformers
torch --index-url https://download.pytorch.org/whl/cpu
accelerate
pillow
einops
requests